<button (click)="fetchData1()">from case 1 study</button><br />
<button (click)="fetchData2()">from case 2 study</button><br />
<button (click)="fetchData3()">from case 3 study</button><br />
<button (click)="fetchData4()">interval study</button><br />
<button (click)="fetchData5()">timer study</button><br />
<button (click)="fetchData6()">range study</button><br />
<button (click)="fetchData7()">Generate study</button><br />
<button (click)="fetchData8()">combineLatest study</button><br />
<button (click)="fetchData9()">Zip study</button><br />
