<button mat-button [matMenuTriggerFor]="aboveMenu">RxJs</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="test1">Sample 1</button>
  <button mat-menu-item routerLink="test2">Sample 2</button>
  <button mat-menu-item routerLink="test3">Sample 3</button>
  <button mat-menu-item routerLink="test4">Subject 也可以作为Observable</button>
  <button mat-menu-item routerLink="test5">HttpClient</button>
  <button mat-menu-item routerLink="test6">throwError 和 empty 的区别</button>
  <button mat-menu-item routerLink="test7">不同类型的 Subject 区别</button>
  <button mat-menu-item routerLink="test8">noop, tap, first, skip 的使用</button>
  <button mat-menu-item routerLink="test9">distinctUntilChanged, 和抖动的使用</button>
</mat-menu>
<br />
<router-outlet />
